/* Scrollbars */
.scroller-wrap .scroller::-webkit-scrollbar,.theme-dark .activityFeed-28jde9 ::-webkit-scrollbar {width:8px !important}
::-webkit-scrollbar-thumb {border-color: transparent !important; background: var(--sb) !important;border-radius:0px !important} 
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece,::-webkit-scrollbar-track {width:8px !important;border-color: transparent !important; background: transparent !important;} 

/* Plugins */
.theme-dark #memberCount {border:none;color: hsl(0, 0%, 100%);background: rgba(0, 0, 0, 0);position: absolute;line-height:4px;font-size: 13px;height:6px;margin:0px}

/* Member Profiles */
#app-mount .userPopout-3XzG_A .avatarHint-1qgaV3 {border-radius: 0 !important}
.theme-dark .header-QKLPzZ .image-33JSyf {position:relative;width:110px; height:110px; background-size: 110px 110px;left:-10px;top:-10px}

.theme-dark .headerNormal-T_seeN,.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {background-color: rgba(0, 0, 0, 0.9)}
.theme-dark .footer-1fjuF6 {border-color: var(--border)}
.theme-dark .quickMessage-1yeL4E {background-color: rgba(0, 0, 0, 0.8);border-color: var(--border);color: #ddd}
.theme-dark .userPopout-3XzG_A {position:relative;right:20px;border:1px solid var(--border)}
.theme-dark .popoutRight-2ZVwL-.noArrow-3BYQ0Z{box-shadow:none}
.theme-dark .headerPlaying-j0WQBV,.theme-dark .topSectionPlaying-1J5E4n {background: #1f2c5c}
.theme-dark .topSectionNormal-2-vo2m,.theme-dark .body-3ND3kc {background-color: rgba(0, 0, 0, 0.92)}
.theme-dark .topSectionNormal-2-vo2m {border:1px solid var(--border); border-radius: 10px 10px 0 0}
.theme-dark .body-3ND3kc {border:1px solid var(--border); border-radius: 0 0 10px 10px}
.theme-dark .connectedAccount-36nQx7:hover {background-color:rgba(0, 0, 0, 0.9)}
.theme-dark .connectedAccount-36nQx7, .theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {background-color: rgba(0, 0, 0, 0.5);border-color: var(--border)}
.theme-dark .tabBarContainer-1s1u-z {border-top: 1px solid hsla(0,0%,100%,.1);padding-left: 130px}

/* Member List */
.theme-dark .membersGroup-v9BXpm {color: #ddd;font-size: 13px;text-align:center;background-color: rgba(0, 0, 0, 0.4);border:1px solid var(--border);line-height: 25px;padding-top: 0;margin:5px;height: 25px}
.theme-dark .memberOnline-1CIh-0 {color: #ddd}
.member-3W1lQa {height: 40px;margin: 4px 0 4px 8px}
.theme-dark .username-1cB_5E {line-height:19px;width:100%}
.theme-dark .nameTag-3p0yK-:not([style]) {color: #ddd}
.theme-dark .content-OzHfo4:hover .nameTag-3p0yK-:not([style]) {color: #eee}
.theme-dark .activity-1IYsbk {color: #ccc}
.theme-dark .member-3W1lQa:hover .content-OzHfo4,.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, 
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {background-color: var(--mc);color: #eee;height:50px}
.theme-dark .small-5Os1Bb .image-33JSyf {background-size: 35px 35px;height: 35px;width: 35px;margin-top:-6px}
.theme-dark #autocomplete-popout {background-color:rgba(0, 0, 0, 0.92);box-shadow: 0 0 1px 2px var(--border)}
.theme-dark #autocomplete-popout section {background-color: rgba(0, 0, 0, 0.0);color: #eee}
.theme-dark #autocomplete-popout .autocomplete-header-background {background-color:transparent}
#autocomplete-popout header {border-top: 1px solid var(--border)}
.popouttop #autocomplete-popout .autocomplete-arrow {display: none}
.theme-dark #autocomplete-popout .row.selected {background: var(--mc)}

/* Guilds */
.theme-dark .guilds-1q_RqH .homeIcon-1FoKUJ g{display:none}
.theme-dark .guildsWrapper-5TJh6A .guilds-1q_RqH svg.homeIcon-1FoKUJ{background: var(--homeicon) no-repeat center/cover}
.theme-dark .guildsWrapper-5TJh6A .guildInner-3DSoA4 {background-color: rgba(25, 25, 25, 0.7) !important}
.theme-dark .guildsWrapper-5TJh6A .scroller-wrap .guilds-1q_RqH.scroller .guild-1EfMGQ .guildInner-3DSoA4 {background-color:transparent}
.theme-dark #bd-pub-button[style="line-height: 20px; font-size: 12px;"] {background:rgb(10, 10, 10)}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action,
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-voice-call,
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-remove {background-color: #000;border: 1px solid var(--border)}
.theme-dark .guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM {color: #eee}
.theme-dark .guildsWrapper-5TJh6A .guildSeparator-1X4GQ1:after {background-color:transparent}
.theme-dark .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:before {background: var(--sc);border-radius: 8px;height: 30px;margin-top: -14px;}
.theme-dark .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq:before {background: #ccc}
.theme-dark .guildsWrapper-5TJh6A .guildsAdd-21_IdK {background: rgba(32, 34, 37, 0.6);border: 1px solid #eee;color: #eee}
.theme-dark .guildsWrapper-5TJh6A .guildsAdd-21_IdK:hover {background: rgba(0, 0, 0, 0.8);border: 1px solid #eee;color: #eee}

/* Channels */
.qs-tutorial.shown {display:none}
.channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4 {background: transparent;padding: 20px 20px 10px}
.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u {background-color: rgba(0, 0, 0, 0.0);border: 1px solid var(--mc);padding: 2px 0}
.channelNotices-41mJbj .channelNotice-1-XFjC.invite-OjTXrW {background:none;box-shadow:none;padding:20px}
.unread-1xRYoj {background-color: rgba(0, 93, 255, .4)}
.theme-dark .wrapper-2NJDcI {background-color: #000;border:1px solid var(--border);border-radius: 4px;color: #eaeaea}
.theme-dark .addButtonIcon-3u-3Hu {opacity:1}
.theme-dark svg.addButtonIcon-3u-3Hu polygon {fill: #fff}
.theme-dark .button-1w5pas path:nth-child(n + 2){stroke: #fff}
.theme-dark .name-3M0b8v{ font-size: 14px}
.theme-dark .topic-2QX7LI,.theme-dark .container-2Thooq,.accountDetails-3k9g4n .discriminator {color: #fff;opacity:1;font-weight:bold}
.theme-dark .header-2o-2hj {color:#ddd;font-weight:bold;box-shadow:0 0 0 transparent;border-bottom:1px solid var(--border);top:1px;}
.theme-dark .nameDefault-2s3kbY, .theme-dark .nameHovered-21k1eo, .theme-dark .nameSpeaking-3UhoEZ {color: #fff !important}
.theme-dark .nameHovered-21k1eo{background-color: var(--mc)}
.theme-dark .button-2KyEfG {opacity:1;background-color: rgb(0, 0, 0);margin: 1px;border:1px solid var(--border)}
.theme-dark .button-2KyEfG:hover {background-color: rgb(12, 12, 12);}
.theme-dark .inner-btChU7 .channel-SEolQq {color: #eee; opacity:1}
.theme-dark .container-2Thooq {border-top: 1px solid var(--border)}
.theme-dark .container-1UB9sr {background: rgba(0, 0, 0, 0.0);border-bottom:none;font-weight: bold}
.theme-dark .nameConnectedText-3CzNQn, .theme-dark .nameConnectedVoice-MHUX5F, .theme-dark .nameSelectedText-sp_EUw, 
.theme-dark .nameSelectedVoice-1qSph5,.theme-dark .nameDefaultText-24KCy5, .theme-dark .nameDefaultVoice-3WUH7s, 
.theme-dark .nameLockedText-3pqQcL, .theme-dark .nameLockedVoice-26MhB1 {color: #ccc;font-weight:bold}
.theme-dark .contentSelectedText-3wUhMi, .theme-dark .contentSelectedVoice-1WDIBM,
.theme-dark .contentHoveredText-2D9B-x,.theme-dark .contentHoveredVoice-3p_NEO {background-color: var(--mc)}
.theme-dark .nameHoveredText-1uO31y, .theme-dark .nameHoveredVoice-YJ1Vfd,
.theme-dark .nameSelectedText-sp_EUw, .theme-dark .nameSelectedVoice-1qSph5{color: #fff;font-weight:bold;}

.theme-dark .iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ,.theme-dark .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB,.colorConnectedText-1c_uzY, 
.theme-dark .colorConnectedVoice-3kyvUN, .theme-dark .colorDefaultText-oas-QM, .theme-dark .colorDefaultVoice-3wYlhb, .theme-dark .colorHoveredText-OZnAgu,
.theme-dark .colorHoveredVoice-1kucsK, .theme-dark .colorLockedText-1VRkPt, .theme-dark .colorLockedVoice-2UlBjl, .theme-dark .colorSelectedText-1y4Wvs, 
.theme-dark .colorSelectedVoice-Xcb_9R {opacity:1; color: #ddd}

.theme-dark .colorUnreadText-2t7XRb, .theme-dark .colorUnreadVoice-137o4S {color: var(--sc);opacity:1}
.theme-dark .nameUnreadText-DfkrI4, .theme-dark .nameUnreadVoice-EVo-wI {color: var(--sc);font-weight:bold}

.theme-dark .unread-1Dp-OI {background-color: var(--sc);height: 14px;top: 40%;}
.theme-dark .iconCollapsed-3hFp_8, .theme-dark .iconDefault-3Gr8d2, .theme-dark .nameCollapsed-34uFWo,.theme-dark .nameDefault-2DI02H {color: #ddd}

.theme-dark .base-34jWEe {background-image: none;height: 50px;padding-bottom: 18px;}
.theme-dark .button-2b6hmh{color: #fff !important;opacity:1; background-color: rgba(0, 0, 0, 0);margin: 1px;width: 22px;height:22px}
.theme-dark svg.icon-1792kv,.theme-dark svg.actionIcon-2Hi9ZG {opacity:1}
.theme-dark .icon-3nr6O-,.theme-light .icon-29PTzq {opacity:1;background-color: rgba(0, 0, 0, 0)}
.theme-dark .icon-1KK5se{fill: #fff; opacity:1}
.theme-dark .contentConnectedVoice-qL-YrL svg.actionIcon-2Hi9ZG path,.theme-dark .wrapperConnectedVoice-2mvQJY:nth-child(1) path{fill: #fff}
.theme-dark .base-3dtUhz {border-radius: 0}
.theme-dark svg.button-1w5pas g path{opacity: 1}

/* Emoji Stuff */
.theme-dark .containerCozy-jafyvG .button-3Jq0g9, .containerCozy-jafyvG .reactionBtn-2na4rd,.theme-dark .reactions-1xb2Ex .reactionBtn-2na4rd {opacity: 1}
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf {background: rgba(16, 16, 16, 0.9);border-radius: 3px;border: 1px solid var(--border)}
.theme-dark .reaction-1ELvT8 {background: hsla(0, 0%, 0%, 0.8);border:1px solid var(--border)}
/* Emoji Menu */
.theme-dark .remove-3V-yj8 {color: #fff}
.theme-dark .remove-3V-yj8:hover {background-color: var(--sc)}
.theme-dark .reactionSelected-1pqISm {background-color: var(--mc)}
.theme-dark .reactionDefault-GBA58K:hover {background-color: var(--sc)}
.theme-dark .search-bar.search-bar-light .search-bar-inner {background-color: rgba(60, 60, 60, 0.7);border: 1px solid var(--mc)}
.theme-dark #bda-qem,.theme-dark #bda-qem-twitch-container, .theme-dark #bda-qem-favourite-container {background: rgba(0, 0, 0, 0.9);border:1px solid var(--border)}
.theme-dark #bda-qem button {color:#fff;border-left: 1px solid #000;box-shadow: #000 1px 0 0 0}
.theme-dark #bda-qem button:hover {background-color: #181818;color:#fff}
.theme-dark #bda-qem button.active {background-color: #181818;color:#fff}
.theme-dark .emojiPicker-3m1S-j {background-color: rgba(0, 0, 0, 0.9);border: 1px solid var(--border);box-shadow: 0 0 0 0 rgba(0,0,0,0)}
.theme-dark .emojiPicker-3m1S-j .search-bar.search-bar-light {background-color:rgba(0, 0, 0, 0.9)}
.theme-dark .emojiPicker-3m1S-j .stickyHeader-1SS0JU {background: rgba(40, 40, 40, 0.9)}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {background-color: var(--mc)}

/* Friends */
@media (max-width:1300px){#friends .friends-table .friends-column-guilds{display:inline-flex !important}}
@media (max-width:1300px){#friends .friends-table .friends-column-name{width:200px !important}}
.theme-dark #friends .friends-table {box-shadow: inset 16px -16px 16px -16px rgba(0,0,0,0.8)}
.theme-dark .privateChannels-1nO12o .channel-2QD9_O .avatar-small{width:35px;height:35px;background-size:35px 35px}
.theme-dark #friends .friends-table .friends-row .avatar-large, #friends .friends-table .friends-row .avatar-small{left:3px;width:40px;height:40px;background-size:40px 40px;}
.theme-dark .addFriendInput-4bcerK {color: #ddd;font-size:16px;font-weight:600}
.theme-dark .wrapper-1cBijl {border-color:var(--border)}
.theme-dark #friends .friends-table .friend-table-add-wrapper h2 {color: #ddd;text-align:center;font-size: 18px}
.theme-dark #friends .friends-table .friend-table-add-wrapper .friend-table-add-description {color: #ddd;font-size: 16px;font-weight: 600;text-align:center}
.theme-dark #friends .tab-bar .tab-bar-item .badge-1GsMF2 {background: #eee}
.theme-dark #friends .friends-table .friends-table-header .friends-column-separator { background-color: var(--border)}
.theme-dark .privateChannels-1nO12o .channel-2QD9_O a {color: #ccc}
.theme-dark .privateChannels-1nO12o .channel-2QD9_O.selected-1HYmZZ a {color: #ccc}
.theme-dark .privateChannels-1nO12o header {color: #ccc;font-size: 16px;font-weight: bold;opacity: 1;text-transform: capitalize;text-align:center}
.theme-dark .privateChannels-1nO12o .channel-2QD9_O .name-2WpE7M {color: #ccc;font-size: 14px;font-weight: bold;opacity: 1;}
.theme-dark .headerBar-UHpsPw,.theme-dark .privateChannels-1nO12o .searchBar-6Kv8R2 {box-shadow:0 0 0 transparent;border-bottom:1px solid var(--border)}
.searchBar-6Kv8R2 .search-bar {background-color: var(--mc)}
.theme-dark #friends .tab-bar {font-weight: bold}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {background-color: #ccc;color: #000}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {background-color: #2d2d2d;color: #fff}
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected),.theme-light #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {background-color: #2d2d2d}
.theme-dark #friends .tab-bar .tab-bar-item.selected {background-color: #ccc;color: #2d2d2d}
.theme-dark #friends .tab-bar .tab-bar-item {background-color:#2d2d2d;color: #eee;margin: 0 4px;padding: 0 4px}
.theme-dark #friends .friends-table .friends-row .friends-column-name,.theme-dark #friends .friends-table .friends-row .friends-column-status,
.theme-dark #friends .friends-table .friends-table-header .friends-column,.theme-dark .privateChannels-1nO12o .channel-2QD9_O .activityText-OW8WYb {color: #ddd;font-weight:bold}
.theme-dark .privateChannels-1nO12o .channel-2QD9_O:hover {color: #ddd;}
.theme-dark .privateChannels-1nO12o .channel-2QD9_O.selected-1HYmZZ a,.theme-dark .privateChannels-1nO12o .channel-2QD9_O a:hover  {background-color: var(--mc);color:#eee}
.theme-dark #friends .friends-table .friends-row,.theme-dark #friends .friends-table .friends-row+.friends-row {border-top: 1px solid var(--border)}
.theme-dark #friends .friends-table .friends-row:hover {border-radius: 0;border-bottom:1px solid var(--border);background-color:var(--mc)}
.theme-dark #friends .friends-table .friends-table-header {text-align:center;border-bottom: 0;padding: 2px 30px}
.theme-dark #friends .tab-bar .tab-bar-item.selected .badge-1GsMF2 {background-color: #000;color: #fff}

/* Activity */
.theme-dark .dockItem-2kQDqg:hover {background-color: rgba(0, 0, 0, 0.4);border:1px solid var(--border)}
.theme-dark .paginationItem-3-MBTL:before {background: #00f}
.theme-dark .paginationItem-3-MBTL:after{visibility: hidden}
.theme-dark .splashArt-1anaP9 {opacity:1;filter:none}
.theme-dark .card-7JP0BX {background-color: rgba(0, 0, 0, 0.5);color: #ccc;border:1px solid var(--border)}
.theme-dark .splashArt-3yFzRe {width: 100%;filter: grayscale(0%);opacity: 1;-webkit-mask: radial-gradient(100% 100% at top left,hsla(0,0%,100%,.3) 0,hsla(0,0%,100%,.4) 100%)}
/* Library */
.theme-dark .header-39GIC8 {background-color: rgba(0, 0, 0, .5);border-bottom-color: var(--border);color: #cecece}
.theme-dark .gamePreview-9weYR2,.theme-dark .body-1SVoBw {background:rgba(0, 0, 0, 0.9)}
.theme-dark .gamePreview-9weYR2{border:1px solid var(--border)}
.theme-dark .rowBackground-3MeNoN {filter: grayscale(0%);mask: none}
.theme-dark .rowWrapperActive-2L7i9f{background:var(--mc)}
/* Store */
.gameTitle-1GKhmx {text-align:center}
.scroller-2FKFPG::-webkit-scrollbar-track {display:none}
#app-mount .premium-39U29H {background-image: linear-gradient(90deg,rgba(0, 0, 0, .6),rgba(179, 174, 255, .3))}
#app-mount .mediaFade-2DGFbT {background: linear-gradient(180deg,transparent 90%,rgba(0, 0, 0, 0.3))}
.theme-dark .mediaDescription-3VIUb6 {background: linear-gradient(180deg,transparent,rgba(0, 0, 0, 0.5) 45%,rgba(0, 0, 0, 0.7))}
.theme-dark .tileMedia-24cT6_ {background-color: rgba(0, 0, 0, 0.4)}
#app-mount .installSize-1eXbBX {background-color: rgb(31, 31, 31);color: #009aff}
.description-3z5Lb3 .lookFilled-1Gx00P.colorPrimary-3b3xI6 {background-color: rgba(0, 0, 0, .5);color: #fff}
#app-mount .applicationStore-1pNvnv, #app-mount .itemBackground-1jfD8p  {background-color: transparent}
.applicationStore-1pNvnv .tile-2H4MQG {background-color: rgba(0, 0, 0, 0.7);box-shadow: 0 0 2px rgba(0, 102, 255, 0.7)}
#app-mount .tile-2H4MQG:hover, #app-mount .purchaseUnit-3FZmmF {background-color: rgba(0, 0, 0, 0.7);box-shadow: 0 0 3px rgba(0, 102, 255, 0.9)}
#app-mount .itemBackground-1jfD8p:before {background: radial-gradient(ellipse at top,transparent,rgba(0, 0, 0, 0.6)),linear-gradient(90deg,rgba(0, 0, 0, 0.6) 0,transparent 40%,transparent 60%,rgba(0, 0, 0, 0.6)),linear-gradient(0deg,rgba(0, 0, 0, 0.6) 0,transparent 25%)}
.theme-dark .bubble-1gL_TN {background-color: rgba(0, 0, 0, 0.9);box-shadow:0 0 3px var(--border)}

/* Menus */
.theme-dark .quickswitcher-3JagVE {background-color: rgba(0, 0, 0, 0.95);border:1px solid var(--border);box-shadow:none}
.theme-dark .input-2VB9rf {background-color: rgba(0, 0, 0, 0.75);border:1px solid var(--border)}
.theme-dark .everyonePopout-nEbJY3 {background-color: rgba(0, 0, 0, 0.9);border: 1px solid var(--border)}
.theme-dark .footer-2aTx0s {border-top:1px solid var(--border)}

.theme-dark .autocomplete-1vrmpx,.autocompleteInner-zh20B_ {background-color: rgba(0, 0, 0, 0.9);border: 1px solid var(--border)}

.theme-dark .modal-3HD5ck {box-shadow: 0 0 0 1px var(--border)}
.theme-dark .footer-2yfCgX {box-shadow: inset 0 1px 0 var(--border)}

.theme-dark .modal-3HD5ck {background-color: rgba(0, 0, 0, 0.9)}
.theme-dark .input-cIJ7To:focus {border-color: var(--border)}
.theme-dark .popout-3sVMXz::not(.userPopout-3XzG_A) {box-shadow: 0 0 2px 1px var(--border);}
/* Guild Settings */
.theme-dark .menu-Sp6bN1 {background: rgba(0, 0, 0, 0.96)}
.theme-dark .item-1GzJrl {color: #ddd}
.theme-dark .item-1GzJrl:hover {background-color: var(--mc);color: #fff}
.theme-dark .icon-2doZ3q {opacity:1}
/* Help */
.theme-dark .need-help-modal.deprecated {border:1px solid var(--border);border-radius:6px}
.theme-dark .need-help-modal.deprecated .header,.theme-dark .form-deprecated .form-inner, .theme-dark .form.deprecated .form-inner,
.theme-dark .need-help-modal.deprecated .footer {background-color: rgba(0, 0, 0, 0.9)}
.theme-dark .need-help-modal.deprecated .footer {border-color: var(--border)}
.theme-dark .form.deprecated .control-group input[type=text]{    border: 1px solid var(--border);background-color:#181818}
/* RTC */
.theme-dark .container-2x5lvQ header {background-color: rgba(0, 0, 0, 0.95);border:1px solid var(--border)}
.theme-dark .container-2x5lvQ section {background-color: rgba(0, 0, 0, 0.95);border:1px solid var(--border)}
/* Search */
.theme-dark .search .search-bar {border: 1px solid var(--border);background-color: rgba(0, 0, 0, 0.8)}
.theme-dark .option-96V44q.selected-rZcOL- {background-color: var(--mc)}
.theme-dark .searchPopout-1vUlP3 {background-color: rgba(0, 0, 0, 0.9);border: 1px solid var(--border);box-shadow: 0 0 0 0 transparent}
.theme-dark .search-results-wrap .search-header {background-color: rgba(0, 0, 0, 0.9);box-shadow: 0 1px 0 var(--border)}
.theme-dark .search-results-wrap {background-color: rgba(0, 0, 0, 0.9);border-left:1px solid var(--border)}
.theme-dark .search-results-wrap .channel-separator{text-align:center}
.theme-dark .search-results-wrap .channel-separator .channel-name {background-color: transparent;color: #eee;font-size:18px}
.theme-dark .search-results-wrap .search-result:before,.theme-dark .search-results-wrap .search-result:after {background-image: linear-gradient(0deg,rgba(47,49,54,0),transparent);}
.theme-dark .search-results-wrap .search-result .search-result-message.hit {border: 1px solid var(--border)}
.theme-dark .search-results-wrap .search-result .hit {background-color: rgba(0, 0, 0, 0.9);box-shadow: 0 0 0 0 transparent}
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {background-color: rgba(35, 33, 33, 0.9);border-bottom: 1px solid var(--border);border-top: 1px solid var(--border);}
/* Upload */
.theme-dark .uploadModal-2ifh8j{background-color: rgba(0, 0, 0, 0.9);border:1px solid var(--border)}

/* Recent Mentions */
.theme-dark .messagesPopoutWrap-1MQ1bW {background-color: rgba(0, 0, 0, 0.9);border: 1px solid var(--border);box-shadow: 0 0 0 0 transparent}
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX {background-color: rgba(0, 0, 0, 0.8);box-shadow: 0 2px 3px 0 var(--border);text-align:center}
.theme-dark .messagesPopoutWrap-1MQ1bW .messageGroupWrapper-o-Zw7G {background-color: rgba(0, 0, 0, 0.9);border:1px solid var(--border)}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .channelSeparator-1MxuvT .channelName-3kBz6H {text-align:center}
#app-mount .actionButtons-1sUUug {-webkit-box-shadow: none;background-color: rgba(0, 0, 0, 0);box-shadow: none}
.theme-dark .message-2qRu38 {background-color: rgba(47, 47, 47, 0.5);box-shadow: 0 0 0 1px var(--mc), 0 2px 10px 0 var(--mc)}

/* Settings */ 
.theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN {background-color: #242424;color: #ccc;border:1px solid var(--border)}
.theme-dark .override-2YgiXd {border-color: var(--border)}
.theme-dark .select-2TCrqx .Select-control,.theme-dark .select-2TCrqx .Select-control:hover {background: #222222;border: 1px solid var(--border)}
.theme-dark .input-cIJ7To {background-color: rgba(0, 0, 0, 0.8);border-color: var(--border);color: #ddd}
.theme-dark .margin-bottom-40 .h5-18_1nd {color: #eee;font-size: 16px;text-align:center}
.theme-dark  .defaultColor-1_ajX0 {color: #eee;font-size: 18px}
.theme-dark .item-3T2z1R,.theme-dark .input-cIJ7To:hover {border-color: var(--border)} 
.theme-dark .cardPrimaryEditable-3KtE4g {border-color: var(--border)}
.theme-dark #bd-settingspane-container .ui-switch-item .style-description {border-bottom: 1px solid var(--border)}
.theme-dark .divider-3573oO {background-color: var(--border)}
.theme-dark .item-3eFBNF {box-shadow: inset 0 -1px 0 0 var(--border)}
.theme-dark #bd-settingspane-container .ui-switch-item .style-description,.theme-dark #bd-settingspane-container h2.ui-form-title,
.theme-dark #bd-settingspane-container .ui-switch-item h3,.theme-dark .ui-standard-sidebar-view,.theme-dark .ui-standard-sidebar-view label,
.theme-dark .ui-standard-sidebar-view h5, .theme-dark .description-3_Ncsb,.theme-dark .avatar-uploader .remove-button {color:#eee;font-weight:bold}
.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg {color: #eee;opacity:1}
.theme-dark .ui-standard-sidebar-view .sidebar-region .sidebar .side-8zPYf6 .item-PXvHYJ,.theme-dark  #bd-settings-sidebar .ui-tab-bar-item{line-height:10px}
.theme-dark .ui-standard-sidebar-view .sidebar-region .sidebar {padding: 25px 10px 10px 25px !important;width: 200px !important;}
.theme-dark .ui-standard-sidebar-view .sidebar-region {flex: 0}
.theme-dark .ui-standard-sidebar-view .content-column.default {max-width: 90%;padding: 40px 30px 80px;}

.theme-dark .lookOutlined-3sRXeN.colorWhite-rEQuAQ {border-color: var(--border);color: #eee}

.theme-dark .userSettingsAccount-2eMFVR div:nth-child(2) > div:nth-child(2) > .viewBody-2Qz-jg {transition: 0.2s ease-in;filter: blur(5px)}
.theme-dark .userSettingsAccount-2eMFVR div:nth-child(2) > div:nth-child(2) > .viewBody-2Qz-jg:hover {transition: 0.2s ease-out;filter: none}

.theme-dark .ui-standard-sidebar-view .esc-text {color: #ddd}
.theme-dark .ui-standard-sidebar-view .btn-close {border-color: #ddd}
.btn-close > svg > g > path.fill {fill: #fff}
.theme-dark .cardPrimary-1Hv-to {background-color: rgba(0, 0, 0, 0.8);border-color: var(--border)}
.theme-dark .side-8zPYf6 .header-2RyJ0Y,.theme-dark .side-8zPYf6 .item-PXvHYJ,
.theme-dark #bd-settings-sidebar .ui-tab-bar-header,.theme-dark #bd-settings-sidebar .ui-tab-bar-item {color: #eee}
.theme-dark .side-8zPYf6 .itemSelected-1qLhcL {background-color: var(--mc);color: #ddd}
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {background-color: var(--mc);color: #eee}
.theme-dark .bda-slist .bda-header,.theme-dark .bda-slist .bda-description {color: #ddd}
.theme-dark .bda-slist li {background: rgba(0, 0, 0, 0.9);border: 1px solid var(--border)}
.theme-dark .side-8zPYf6 .header-2RyJ0Y,.theme-dark #bd-settings-sidebar .ui-tab-bar-header{height:25px;text-align:center;font-size: 14px;border-bottom:1px solid var(--border)}
/*Billing */
.theme-dark .paymentPane-3bwJ6A,.theme-dark .paginator-166-09{background-color: rgba(0, 0, 0, 0.5)}
.theme-dark .payment-xT17Mq {background: transparent}
.theme-dark .hoverablePayment-Yc6mK7:hover {background: var(--mc)}
/* Tooltips & stuff */
.theme-dark.contextMenu-HLZMGh {background: rgba(10, 10, 10, 0.98);box-shadow:0 0 1px 1px var(--border)}
.theme-dark.contextMenu-HLZMGh .item-1Yvehc {color: #eee}
.theme-dark.contextMenu-HLZMGh .item-1Yvehc:hover {background: var(--mc);color: #fff}

.tooltip.tooltip-black.tooltip-right:after {display:none}
.tooltip.tooltip-black {background-color: #000;border: 1px solid var(--border)}
.theme-dark .container-3cGP6G {background: rgba(14, 14, 14, 0.9);box-shadow:var(--sc)}
.theme-dark .item-2J1YMK:hover {background-color: var(--mc)}
/* Minimal Mode */
.bd-minimal .theme-dark .container-2Thooq .button-2b6hmh {margin-top: 0}
.bd-minimal .theme-dark .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 a,
.bd-minimal .theme-dark .iconSizeLarge-161qtT {height: 20px;width: 20px}
.bd-minimal .theme-dark .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .badge-1GsMF2 {bottom: -3px;right: -3px;padding: 1px 3px}

/* Roundness */
.theme-dark .mask-3OgeRz {-webkit-mask: none;mask: none}
.theme-dark .badge-1GsMF2,.theme-dark .guildsWrapper-5TJh6A .guildsAdd-21_IdK,.theme-dark .guildsWrapper-5TJh6A .guilds-1q_RqH .guildIcon-CT-ZDq,
.theme-dark .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4,.theme-dark .image-33JSyf,.theme-dark .avatar-large, 
.theme-dark .avatar-profile, .theme-dark .small-5Os1Bb,.theme-dark .avatar-small,.theme-dark .avatarHint-1qgaV3,.theme-dark .title-3qD0b- .status, 
.theme-dark .titleCall-_b9o8P .status, .theme-dark .avatar-xlarge,.theme-dark .avatar-xsmall, .theme-dark .avatar-xxlarge,
.theme-dark .statusProfile-3ynqtt  {border-radius: var(--round) !important}
/*Status sizes */
#app-mount .members-1998pB .content-OzHfo4 .status-2s6iDp,
 #app-mount .members-1998pB .member-3W1lQa.popout-open .status-2s6iDp { height:35px!important;width:35px!important;left:-2px!important;top:-2px!important;}
#app-mount .privateChannels-1nO12o .status {bottom: -2px!important;right: -2px!important;height: 35px!important;width: 35px!important}
#app-mount .header-QKLPzZ .statusProfile-3ynqtt.status-oxiHuE {width: 110px;height: 110px;right: -12px;bottom: -12px;padding: 0!important}
#app-mount .status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status, #app-mount .status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status-2s6iDp {
    height: 35px !important;width: 35px!important}
/* Msg Area */
.containerCozy-jafyvG .avatar-17mtNa .image-33JSyf.large-3ChYtB {
background-size: var(--size1) var(--size1);
height: var(--size1);width: var(--size1);
margin-left:var(--margin1);margin-top:var(--margin2);
border-radius:var(--round1);
filter: drop-shadow(var(--shadow1))}
.headerCozy-2N9HOL {height: 15px}
.messagesWrapper-3lZDfY .containerCozyBounded-1rKFAn {padding: 5px}
.container-1YxwTf .wrapper-2F3Zv8{width: calc(-10px + var(--size1));height: var(--size1)}
.contentCozy-3XX413 {margin-left: calc(30px + var(--size1))}
.container-1YxwTf {min-height: var(--size1);box-sizing: content-box}
.containerCozy-jafyvG {margin: 0;padding: 15px 0}
.container-1YxwTf .divider-32i8lo {position:absolute;bottom:15px;width:100%}

.theme-dark .hasMore-3e72_v button {background: rgba(0, 85, 255, 0.3);border: 1px solid var(--border)}
.newMessagesBar-mujexs {background-color:rgba(0, 93, 255, .4)}
.theme-dark .containerCozy-jafyvG {overflow: visible}
.theme-dark .chat-3bRxxu .new-messages-bar {background-color: var(--mc)}
.theme-dark .markup-2BOw-j pre,.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {background: rgba(0,0,0,.85);border:1px solid var(--border);color:#eee}
.theme-dark .selectorSelected-1_M1WV {background-color: var(--mc)}
.theme-dark .isMentioned-N-h9aa {width:99%;left:10px}
.theme-dark .friends-table .messages-3amgkR .messageGroupBlocked-3wrQQX.revealed,
.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .messageGroupBlocked-3wrQQX.revealed,
.theme-dark .friends-table .messages-3amgkR .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-, 
.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-,
.theme-dark .friends-table .messages-3amgkR .messageGroupBlocked-3wrQQX, .theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .messageGroupBlocked-3wrQQX,
.theme-dark .friends-table .messages-3amgkR .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover, 
.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover {background: rgba(0, 0, 0, 0.7);border-color: var(--border);display: var(--block)}
.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .containerCozy-jafyvG-blocked.revealed,.theme-dark .friends-table .messages-3amgkR .containerCozy-jafyvG-blocked .containerCozy-jafyvG-blocked-btn, 
.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .containerCozy-jafyvG-blocked .containerCozy-jafyvG-blocked-btn {background: #282828;border:1px solid var(--border);color: #ccc;display: var(--block)}
.theme-dark .dividerEnabled-2TTlcf {border-bottom: none}
.theme-dark .chat-3bRxxu .messages-3amgkR {background: var(--chatbg);}
.theme-dark .chat-3bRxxu form {background-color: var(--mc);border-top: none;margin: 0 0px;padding-left: 20px;padding-right: 20px}
.theme-dark .friends-table, .theme-dark .messagesWrapper-3lZDfY {background-color: var(--chatbg)}
.theme-dark .innerNoAutocomplete-1WpcVO {border-radius: 2px}
.theme-dark .containerCozy-jafyvG .edit-message .edit-container-outer {margin-left: 10px}
.theme-dark .chat-3bRxxu .divider-3gKybi:before {display:none}
.theme-dark .channelName-3stJzi, .theme-dark .groupDM-3qU0Ks .channelName-3stJzi, 
.theme-dark .groupDMManaged-1GyXtq .channelName-3stJzi, .theme-dark .input-autosize-input {color: #fff}
.theme-dark .chat-3bRxxu .base-34jWEe h1 {color: #fff;text-align:center;font-size:20px}
.theme-dark .timestampCozy-2hLAPV{color: #ccc}
.theme-dark .username-_4ZSMR {text-shadow:.3px .3px .2px rgba(0, 0, 0, .8)}
.theme-dark .containerCozy-jafyvG .markup-2BOw-j-2BOw-j {color: var(--text);font-size:var(--fsize);font-family:var(--font);font-weight:600;text-rendering: optimizeLegibility;}
.theme-dark .containerCozy-jafyvG .markup-2BOw-j-2BOw-j strong {font-weight: 800}
.theme-dark .inner-zqa7da {background: rgba(0, 0, 0, 0.7);color:#ddd;border: 1px solid var(--border)}
.theme-dark .wrapper-35wsBm {background: rgba(0, 0, 0, 0.7);border-color: var(--border)}
.theme-dark .typing-2GQL18 {background:rgba(0, 0, 0, 0);color:#ddd;bottom:-4px}
.theme-dark .chat-3bRxxu .has-more button {background: rgba(0, 0, 0, 0.7);border: 1px solid var(--border)}

.theme-dark .friends-table .messages-3amgkR .divider-3gKybi:before, .theme-dark .friends-table .messages-3amgkR .divider-3gKybi span, .theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .divider-3gKybi:before, 
.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .divider-3gKybi span,.theme-dark .chat-3bRxxu .divider-3gKybi>span,.theme-dark .friends-table .messages-3amgkR .divider-3gKybi:not(.red) span, 
.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .divider-3gKybi:not(.red) span {background-color: transparent;color: var(--border);line-height:19px}
.theme-dark .divider-3gKybi:not(.red-1YQ4s7) span {color: var(--sc)!important}

.theme-dark .friends-table .messages-3amgkR .divider-3gKybi:not(.red) div, .theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .divider-3gKybi:not(.red) div{background-color:var(--border)}
.theme-dark .chat-3bRxxu .divider-3gKybi {background-color: transparent}
.theme-dark .chat-3bRxxu .divider-3gKybi.dividerRed-MKoLlr>div {opacity: 1;background: #000}
.theme-dark .channelTextArea-rNsIhG {margin: 10px 0 20px;}
.theme-dark .chat-3bRxxu .messages-3amgkR .mention {background: rgba(241, 243, 251, 0) !important;color:#2b2bff}
.theme-dark .chat-3bRxxu .mention:hover {color: #0000ff}
.theme-dark .attachment-33OFj0 {border-color: var(--border);background:rgba(0, 0, 0, 0.8)}
.theme-dark .embedPill-1Zntps {background-color: var(--border)}
.theme-dark .embedInner-1-fpTo {background: rgba(0, 0, 0, 0.8);border: 1px solid var(--border);border-radius:0;}
.theme-dark .imageWrapper-2p5ogY{box-shadow: 0 0 2px 0 #000}
.theme-dark .chat-3bRxxu .jump-to-present-bar {background-color: rgba(0, 0, 0, 0.9);border:1px solid var(--border);border-radius:4px}
.theme-dark .chat-3bRxxu .jump-to-present-bar:hover {background-color: #000}

/* Main Background/Titlebar */
.theme-dark .chat-3bRxxu>.content-yTz4x3, .theme-dark .chat-3bRxxu form, .flex-horizontal>.flex-spacer, .theme-dark .uploadModal-2ifh8j .footer-3mqk7D, 
.theme-dark #friends, .theme-dark .activityFeed-28jde9, .theme-dark .footer-2yfCgX, .theme-dark .headerBar-UHpsPw, .theme-dark .channels-Ie2l6A,
 .theme-dark .container-PNkimc, .theme-dark .ui-standard-sidebar-view .sidebar-region, .theme-dark .ui-standard-sidebar-view .content-region, 
 .theme-dark .layers-3iHuyZ, .theme-dark .guildsWrapper-5TJh6A .guilds-1q_RqH, .theme-dark .chat-3bRxxu .content-yTz4x3, .theme-dark .members-1998pB, 
 .theme-dark .title-3qD0b-, .theme-dark .scroller-2v3d_F, .theme-dark .header-2o-2hj, .theme-dark .container-2Thooq,.theme-dark .gameLibrary-TTDw4Y,
 .theme-dark .sidebar-1-SQro, .theme-dark .reactors-Blmlhw {background: transparent !important;background-color:transparent !important}

.theme-dark .iconBadge-2dji3k {border-color: #fff}
.theme-dark .iconBadge-2dji3k:hover {border-color: #eee}

.titleBar-AC4pGV::after {content:""; position:absolute; z-index:-1; top:0; left:0; right:0; width:100%; height:22px} 
.wordmark-2iDDfm svg > path {fill:#fff}
.winButtonClose-1HsbF- > svg > polygon  {fill:#fff}
.winButtonMinMax-PBQ2gm > svg > rect {stroke:#fff}
.winButton-iRh8-Z {opacity: 1}
.theme-dark .iconForeground-3y9f0B, .theme-dark .title-1aVOXw {color: #fff}
.theme-dark .title-3qD0b- {box-shadow:0 0 0 transparent ;border-bottom: 1px solid var(--border)}
.theme-dark .backdrop-1wrmKB {opacity: .3 !important}
.theme-dark .container-2lgZY8,.theme-dark .ui-standard-sidebar-view,.titleBar-AC4pGV::after {background-color: var(--light)}
.theme-dark .chat-3bRxxu,.theme-dark .guildsWrapper-5TJh6A,.theme-dark .layer-3QrUeG{background-color: transparent}

input{background: #f6f6f6}
body,h1,h2,h3,h4,h5,h6 {color: #fff);font-family:var(--font);text-rendering: optimizeLegibility !important; font-smoothing: antialiased !important}
.theme-dark ::selection {background: #000;color:rgba(255, 0, 0, .8)}
.theme-dark ::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.8) !important}
body,span:not(.spinner-item){-webkit-font-smoothing:optimizeLegibility !important;-webkit-backface-visibility:hidden}