//META{"name":"Clean Dark Wallpaper Edition","description":"Simple & clean dark theme. Basic enhancements. User settings for variety. Transparent with wallpaper. Please use the support server listed below if you need any help.","author":"Satoru","version":"1.0","website":"http://discord.gg/fjvwb95"}*//{}

@import url(https://satoru8.github.io/CleanDark/CleanDarkBG.css);

.appMount-3VJmYg {background: url(https://images6.alphacoders.com/880/880825.png) center/cover no-repeat}
:root {
	--light: rgba(0, 0, 0, 0.3); /* Overall brightness. 1= black, 0 = transparent */
	--mc: rgba(0, 105, 121, 0.3);	/* Main theme colour. */
	--chatbg: rgba(24, 24, 24, .0);	/* Chat background */
	--text: #ccc;	/* Chat text colour */
	--round: 5%;	/* Icon Roundness. Pfps/Guilds 50% round, 5% Square. */
	--profileradius: 0px; /* 0 is normal squared edges. Up to 45px for rounded profiles. */
	--homeicon: url(https://rawgit.com/satoru8/Icons/master/homewhite.svg); /* Custom Home Icon. */
	--font: sans-serif;	
	--fsize: 13px;	/* Font Size */
	--sb:rgba(53, 149, 255, .3);    /* Scrollbar colour. Change .3 to 0 to hide scrollbar. */
	--border: rgba(53, 149, 255, .4);	/* Border colour. Change .3 to 0 to hide borders. */
    --block: none;  /* Default - none */

    /* Uri's Status Chooser */
	--sPickerOnlineBGColour: #43b581;
    --sPickerIdleBGColour: #faa61a;
    --sPickerDNDBGColour: #f04747;
    --sPickerInviBGColour: #2f3136;
}